<h1>Postgres</h1>
<%= simple_form_for @post do |form| %>
  <%= form.input :title, label: "Название объявления" %>
  <%= form.input :title, label: "Текст объявления" %>
  <%= form.button :submit %>
  <%= link_to "Home Page", root_path %>
<% end %>
